[Unit]
Description=JONImageProcessor
After=local-fs.target

[Service]
Type=simple
WorkingDirectory=/opt/JONImageProcessor
ExecStart=/opt/JONImageProcessor/bin/JONImageProcessor --config /opt/JONImageProcessor/etc/jonimageprocessor.json
Restart=on-failure
RestartSec=3
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
